@import url("e4_basestyle.css");

.MTrimmedWindow.topLevel {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.MTrimmedWindow { 
    /* window background */
    background-color: #1f1f1f;
}

.MArea {
	padding: 0px 0px 0px 0px;
	swt-corner-radius: 6px;
}

.MArea#org-eclipse-ui-editorss {
	padding: 0px 0px 0px 0px;
	swt-corner-radius: 6px;
}

.MPartStack {
	font-size: 12;
	padding: 0px 0px 0px 0px;
	swt-simple: true;
	swt-mru-visible: false;
	swt-tab-renderer: url(bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering);
	swt-unselected-tabs-color: #333333 #333333 #333333 100% 100%;
    swt-outer-keyline-color: #3c3b37;
	swt-inner-keyline-color: #3c3b37;
	swt-mru-visible: false;
	swt-shadow-visible: false;
	swt-tab-outline: #1f1f1f;
	swt-corner-radius: 6px;
	/* swt-corner-radius: 0; */
}

.MPartStack#org-eclipse-e4-primaryDataStack {
	padding: 0px 0px 0px;
	swt-corner-radius: 6px;
}

.MPlaceholder {
	/* Markers view header */
	background-color: #1f1f1f;
	color: #000;
	padding: 0px 0px 0px 0px;
	swt-simple: true;
	swt-shadow-wisible: false;
}

.MTrimBar {
	/* status bar */
    background-color: #3c3b37;
    background-image: none;
}

.MTrimBar CLabel {
	color: #999999;
}

.MToolControl {
	margin: 0;
	color: #636363;
}

.MToolControl CLabel {
	color: #999999;	
}

.MPart Composite {
	background-color: #3c3b37;
	color: #DDD;
}

.MTrimBar#org-eclipse-ui-main-toolbar {
	/* Main Toolbar background */
    background-color:  #3c3b37;	
}

.MPartStack.active {
	swt-unselected-tabs-color: #333333 #444444 100% 100%;
    swt-outer-keyline-color: #222222;
	swt-inner-keyline-color: #222222;
	swt-shadow-visible: false;
	swt-tab-outline: #222222;
}
/* part of toolbar on right */
#PerspectiveSwitcher {
	background-color:  #3c3b37;
	eclipse-perspective-keyline-color: #000;
	color: #FFF;
}

#org-eclipse-ui-editorss {
   swt-unselected-tabs-color: #444 #333 #111 100% 100%;
   swt-outer-keyline-color: #444444;
   swt-inner-keyline-color: #444444;
   swt-tab-outline: #000;
   color: #FFF;
   swt-tab-height: 8px;
   padding: 0px 5px 7px;
}

#org-eclipse-jdt-ui-PackageExplorer {
	background-color: #3c3b37;
	color: #FFF;
}

CTabFolder {
	swt-tab-renderer: url(bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering);
	swt-unselected-tabs-color: #444444;
	swt-outer-keyline-color: #444444;
	swt-inner-keyline-color: #444444;
	swt-tab-outline: #444444;
	selected-tab-fill: #222222;
	swt-shadow-visible: false;
}

CTabFolder Tree {
	background-color: #3c3b37;
	color: #FFF;
}
CTabFolder Canvas {
  	background-color: #3c3b37;
  	color: #FFF;
}

CTabItem {
	background-color: #3c3b37;
	color: #DDD;
}
CTabItem:selected { 
	color: #FFF;
}

Label {
	color: #999999;
}

Hyperlink {
	color: #FFF;
	background-color: #3c3b37
}